body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dwara{
    position: absolute;
    height: 250px;
    width: 250px;
    background: grey;
    border-radius: 100%;
    cursor: pointer;
}

.Score{
    font-family: Helvetica;
    font-size: 80px;
    color: black;
    font-weight: bold;
    margin: 0;
}

.container{
    position: relative;
    height: 800px;
    width: 1000px;
    border: 2px solid black;
}